/*                                                                      body */
body {
    display: flex;
    flex-direction: column;
    
    margin: 0px;
}


/* on small landscape-ish devices: */
@media screen and (min-aspect-ratio: 1.6) and (max-height: 30em) {

    body {
        flex-direction: row;
    }

    #user_interface {
        display: flex;
        flex-direction: column;

        height: 100vmin;
        width: 30%;
    }
}

/*-----------------------------------------------------------------------------------*/

/*                                                                      header */
#header {
    display: flex;
    justify-content: space-between;

    min-height: 4rem;
}

/*                                                    errors */
#errors {
    margin-left: 2rem;
    margin-top: 0.5rem;

    font-family: 'Tektur', cursive;
    font-size: 2em;

    color: rgb(156, 49, 49);
}
/*                                                    timer */
#timer {
    display: flex;

    width: 8rem;
}

#timer_container {
    font-family: 'Tektur', cursive;
    font-size: 3em;

    color: grey;
}
/*                                                    level */
#level {
    margin-right: 2rem;
    margin-top: 0.5rem;

    font-family: 'Tektur', cursive;
    font-size: 2em;

    color: rgb(81, 129, 97);
}

/* portrait devices */
@media screen and (max-aspect-ratio: 0.9) {
    #header {
        font-size: 0.9rem;
    }

    #level {
        margin-right: 1rem;
    }

    #errors {
        margin-left: 1rem;
    }
}

/* small landscape devices */
@media screen and (min-aspect-ratio: 1.6) and (max-height: 30em) {
    #header {
        flex-direction: column;
        align-items: center;
        height: 50%;
        max-height: none;
    }
    #errors {
        margin: 0;
    }
    #level {
        margin: 0;
    }
    #timer {
        min-width: 8rem
    }
}
/*-----------------------------------------------------------------------------------*/

/*                                                                      equation */
#equation {
    display: flex;
    justify-content: center;

    max-height: 4rem;

    background-color: rgb(243, 243, 243);
}

#equation_container {
    font-family: 'Tektur', cursive;
    font-size: 3rem;
}

/* portrait */
@media screen and (max-aspect-ratio: 0.9) {

    #equation_container {
        font-size: 2rem;
    }
}

/* small landscape */
@media screen and (min-aspect-ratio: 1.6) and (max-height: 30em) {
    #equation {
        height: 50%;

        max-height: none;
        align-items: center;
    }

    #equation_container {
        font-size: 2rem;
    }
}
/*-----------------------------------------------------------------------------------*/


/*                                                                      calculator */
#calculator {
    display: flex;
    justify-content: center;

    width: 100%;
    height: calc(100vmin - 8rem);
}

#calculator_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 50vmax;
    max-width: 100%;
    height: calc(100% - 2rem);

    border-radius: 0%;
    background-color: aliceblue;
    border: solid gainsboro 1px;
}

/* portrait */
@media screen and (max-aspect-ratio: 0.9) {
    #calculator {
        height: calc(100vmax - 7rem);
        width: 100%;
    }

    #calculator_container {
        width: 100%;
        height: 100%;
    }
}

/* small landscape */
@media screen and (min-aspect-ratio: 1.6) and (max-height: 30em) {
    #calculator {
        height: 99vmin;
        width: 70%;
    }

    #calculator_container{
        width: 100%;
        height: 100%;
    }
}

/*                                                                      screen */

#screen {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;
    width: 100%;
    height: 20%;

    background-color: rgb(235, 235, 235);
}

#screen_container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 80%;

    font-family: 'Tektur', cursive;
    font-size: 3rem;

    color:rgb(95, 94, 94);
}

/*                                                              calculator buttons */
#buttons {
    display: grid;

    width: 100%;
    min-height: 80%;
    max-height: 80%;

    font-size:3rem;

    border: solid gainsboro 1px;
    background-color: rgb(129, 129, 138);
}

@media screen and (max-aspect-ratio: 0.9) {
    #buttons {
        font-size: 1.5rem;
    }
}

@media screen and (min-aspect-ratio: 1.6) and (max-height: 30em) {
    #buttons {
        font-size: 1.5rem;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_container {
    text-align: center;
    user-select: none;
    
    font-size: 1em;
    
    border: solid rgb(0, 0, 0) 1px;
    color:rgb(78, 78, 78);
    background-color: rgb(150, 199, 201);
}
/*-----------------------------------------------------------------------------------*/

/*                                                                      Intro modal */
#modal_intro {
    width: 100%;
    height: 100%;
    max-height: 25rem;
    padding: 0;
}

#modal_intro::backdrop {
    opacity: 0;
}

#intro_container_a {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 100%;
}

#intro_container_b {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;

    min-height: 0;
}

#intro_image {
    object-fit: scale-down;
    max-width: 40%;
}

#intro_message_text {
    font-size: 0.9rem;
    overflow: scroll;
}

/* portrait */
@media screen and (max-aspect-ratio: 0.9) {

    #modal_intro {
        max-height: 100%;
        padding: 1rem;
    }

    #intro_container_a {
        flex-direction: column;
        overflow: visible;
        align-items: center;
    }

    #intro_image {
        max-width: 100%;
        max-height: 30%;
    }

    #intro_container_b {
        align-items: center;
    }
}

/* small landscape */
@media screen and (min-aspect-ratio: 1.6) and (max-height: 30em) {

    #modal_intro {
        min-width: 99vmax;
        min-height: 99vmin;
    }
}

/*-----------------------------------------------------------------------------------*/

/*                                                                      button styles */
.button_general_shape {
    font-size: 1.5rem;
    width: 100%;
}

.button_general_theme {
    background-color: rgb(220, 234, 245);    
    border: solid black 1px;
    border-radius: 2px;
    box-shadow: none;
}

.button_error_theme {
    background-color: rgba(255, 255, 255, 0.623);
    border: 1px solid red;
    border-radius: 2px;
    box-shadow: none;
}

/* portrait */
@media screen and (max-aspect-ratio: 0.9) {

    .button_general_shape {
        width: auto;
    }
}

/* small landscape */
@media screen and (min-aspect-ratio: 1.6) and (max-height: 30em) {

    .button_general_shape {
        width: auto;
    }
}

/*-----------------------------------------------------------------------------------*/

/*                                                                      countdown modal */
#modal_countdown {
    background-color: transparent;
    border: none;
    overflow: hidden;
}

#modal_countdown::backdrop {
    background-color: transparent;
}

#countdown_container {
    display: flex;
    text-align: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

#countdown_text {
    margin: 0;
}


/*-----------------------------------------------------------------------------------*/

/*                                                                 username modal */
#modal_username {
    width: 50%;
    height: 20%;
    min-height: 10rem;
    min-width: 20rem;
}

#username_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

#username_header {
    margin-bottom: 2rem;
}

#name_box {
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 1px black solid;
}

/* portrait */
@media screen and (max-aspect-ratio: 0.9) {
    #modal_username {
        width: 100%;
    }
}

/*small landscape*/
@media screen and (min-aspect-ratio: 1.6) and (max-height: 30em) {
    #modal_username {
        width: 100%;
    }
}
/*-----------------------------------------------------------------------------------*/

/*                                                                      backdrop */

#backdrop {
    position: fixed;

    width: 100%;
    height: 100%;

    background-color: rgba(51, 51, 51, 0.664);
    opacity: 0;
}
/*-----------------------------------------------------------------------------------*/

/*                                                                      message modal */

.message_general {
    z-index: 10;
    border: 0;
}

.message_general::backdrop {
    background-color: transparent;
}

.message_theme_default {
    background-color: rgb(231, 236, 240);
}

.message_theme_error {
    border: 1px solid red;
    background-color: rgba(255, 215, 215, 0.98);
}

.message_line {
    text-align: center;

    margin-left: 1rem;
    margin-right: 1rem;
}

.message_button_container {
    display: flex;
    justify-content: center;

    width: 100%;
}

/*-----------------------------------------------------------------------------------*/

/*                                                                      leaderboard modal */

#modal_leaderboard {
    width: 80%;
    height: 80%;
    max-width: 60rem;
    margin-top: 5%;
}

#leaderboard_container {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

#leaderboard_item_container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: scroll;

    border-bottom: solid 1px rgba(128, 128, 128, 0.397);
    border-top: solid 1px rgba(128, 128, 128, 0.397);

}

.leaderboard_item {
    display: flex;
    justify-content: center;

    margin-bottom: 1px;

    border-bottom: 1px solid rgba(128, 128, 128, 0.397);
    background-color: rgba(55, 91, 97, 0.096);
}

.leaderboard_header_container {
    display: flex;
    justify-content: space-between;
    
    margin: 0;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 0.5rem;
}

.leaderboard_header_text {
    margin: 0;
}

.item_container {
    display: flex;
    justify-content: space-between;

    width: 100%;

    margin: 0;
    margin-right: 2rem;
    margin-left: 2rem;
}

.item_component {
    overflow-x: hidden;
    white-space: nowrap;

    width: 33%;
    margin: 0;
}

.leaderboard_item_component {
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0;
}

.leaderboard_text {
    margin: 0;
    margin-top: 0.5rem;
    text-align: center;
}

#your_score_text {
    border-bottom: 1px solid rgba(128, 128, 128, 0.397);
}

.leaderboard_item_image {
    max-height: 2rem;
    width: auto;
}

#playagain_form {
    width: 100%;
    display: flex;
    justify-content: center;

    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* portrait */
@media screen and (max-aspect-ratio: 0.9) {
    #modal_leaderboard {
        height: 100vmax;
        width: 100%;

        padding-left: 0;
        padding-right: 0;
        padding-top: 1.5rem;
        margin: 0%;

        font-size: 0.9rem;
    }

    #leaderboard_container {
        width: 100%;
        height: 100%;
    }

    .leaderboard_header_container {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .item_container {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

/* small landscape */
@media screen and (min-aspect-ratio: 1.6) and (max-height: 30em) {
    #modal_leaderboard {
        width: 100%;
        height: 100%;
        min-width: 100%;
        
        padding-left: 0;
        padding-right: 0;
        padding-top: 1.5rem;

        margin: 0%;

        font-size: 0.9rem;
    }

    #leaderboard_container {
        width: 100%;
        height: 100%;
    }

    .leaderboard_header_container {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .item_container {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}
/*-----------------------------------------------------------------------------------*/
