<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/index.css" rel="stylesheet" type="text/css">
    <script defer src="/static/js/index.js"></script>
    <title>Calculator</title>
</head>
    <body>
        <div id="calculator_container">
            <div class="box_element" id="this_box"></div>
            <div class="box_element"></div>
            <div class="box_element"></div>
            <div class="box_element"></div>
        </div>
    </body>
</html>