<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tektur&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet" type="text/css">
    <script defer src="/static/js/index.js" type="module"></script>
    <title>Calculator Master</title>
</head>
    <body>
        <div id="backdrop"></div>
        <div id="header_container">
            <div id="errors">
                Err
            </div>
            <div id="timer_container">
                <div id="timer">
                    99:99
                </div>
            </div>
            <div id="level">
                Lvl
            </div>
        </div>
        <div id="equation_container">
            <div id="equation">
                ? ? ?
            </div>
        </div>
        <div id="calculator_container">
            <div id="calculator">
                <div id="screen_container">
                    <div id="screen">
                        0000000
                    </div>
                </div>
                <div id="buttons_container">
                </div>
            </div>
        </div>
        <dialog id="intro_modal" class="parent_modal">
            <div id="intro_container">
                <img id="intro_image" src="/static/images/ph_image_user.jpg">
                <div id="message_container">
                    <div id="message">
                        <p>Welcome to Calculator Master.</p>
                        <p>The rules are simple. You will see equations at the top of the screen that you need to input in the calculator. Enter as many as you can before the time runs out !</p>
                        <p>Careful, if you missinput any digit, your progress for that equation will vanish and you will have to start it again.</p>
                        <p>Once the time countdown expires, you will be able to record your name along your score and check how well you did against other players around the globe.</p>
                        <p>Good luck !</p>
                    </div>
                    <button id="btn_start" type="button">Start</button>
                </div>
            </div>
        </dialog>
        <dialog id="countdown_modal">
            <div id="countdown">
            </div>
        </dialog>
        <dialog id="name_modal" class="parent_modal">
            <div id="name_container">
                <div id="name_header">
                    - enter a name -
                </div>
                <form id="name_form" action="/">
                    <input id="name_box" name="name" type="text" placeholder="name">
                </form>
            </div>
        </dialog>

        <dialog id="leaderboard" class="parent_modal">
            <div id="leaderboard_container">
                <div class="leaderboard_item">
                    <div class="leaderboard_item_component">#00 - name</div>
                    <div class="leaderboard_item_component">LVL</div>
                    <div class="leaderboard_item_component">image</div>
                </div>
                <div class="leaderboard_item">
                    <div class="leaderboard_item_component">#00 - name</div>
                    <div class="leaderboard_item_component">LVL</div>
                    <div class="leaderboard_item_component">image</div>
                </div>
                <div class="leaderboard_item">
                    <div class="leaderboard_item_component">#00 - name</div>
                    <div class="leaderboard_item_component">LVL</div>
                    <div class="leaderboard_item_component">image</div>
                </div>
            </div>
        </dialog>
        
        <!-- NOT IN USE RN, REMOVE IF NOT USED IN THE FUTURE -->
        <dialog id="loading_modal" class="parent_modal">
            <div id="loading_container">
                <div id="loading_message">
                    - loading -
                </div>
                <p id="loading_icon">. . .</p>
            </div>
        </dialog>
    </body>
</html>