<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tektur&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet" type="text/css">
    <script defer src="/static/js/index.js" type="module"></script>
    <title>Calculator Master</title>
</head>
    <body>
        <!-- the backdrop that is used to shade the background black as a message is open -->
        <div id="backdrop"></div>

        <!-- page rows -->
        <div id="header">
            <div id="errors">
                Err
            </div>
            <div id="timer">
                <div id="timer_container">
                    99:99
                </div>
            </div>
            <div id="level">
                Lvl
            </div>
        </div>

        <div id="equation">
            <div id="equation_container">
                ? ? ?
            </div>
        </div>

        <div id="calculator">
            <div id="calculator_container">
                <div id="screen">
                    <div id="screen_container">
                        0000000
                    </div>
                </div>
                <div id="buttons">
                </div>
            </div>
        </div>

        <!-- windows -->
        <dialog id="modal_intro" class="message_general message_pos_center message_theme_default">
            <div id="intro_container">
                <img id="intro_image" src="/static/images/ph_image_user.jpg">
                <div id="intro_message">
                    <div id="intro_message_text">
                        <p>Welcome to Calculator Master.</p>
                        <p>The rules are simple. You will see equations at the top of the screen that you need to input in the calculator. Enter as many as you can before the time runs out !</p>
                        <p>Careful, if you missinput any digit, your progress for that equation will vanish and you will have to start it again.</p>
                        <p>Once the time countdown expires, you will be able to record your name along your score and check how well you did against other players around the globe.</p>
                        <p>Good luck !</p>
                    </div>
                    <button id="intro_message_button" type="button">Start</button>
                </div>
            </div>
        </dialog>

        <dialog id="modal_countdown">
            <div id="countdown_container">
                <p id="countdown_text"></p>
            </div>
        </dialog>

        <dialog id="modal_username" class="message_general message_pos_center message_theme_default">
            <div id="username_container">
                <div id="username_header">
                    - enter a name -
                </div>
                <form id="username_form" action="/">
                    <input id="name_box" name="username" type="text" placeholder="name">
                </form>
            </div>
        </dialog>

        <dialog id="modal_leaderboard" class="message_general message_pos_center message_theme_default">
            <div id="leaderboard_container">
                <p class="leaderboard_text">Global leaderboard</p>
                <div class="leaderboard_header_container">
                    <p class="leaderboard_header_text">Username</p>
                    <p class="leaderboard_header_text">Score</p>
                    <p class="leaderboard_header_text">Country</p>
                </div>
                <div id="leaderboard_item_container">
                    <!--Here go other players score items in the leaderboard-->

                </div>
                <p id="your_score_text" class="leaderboard_text">Your score</p>
                <div id="user_score_container">
                    <!--Here goes the user score item-->
                    
                </div>
                <form id="playagain_form" action="/" method="get">
                    <button type="submit" id="playagain_button">Play again</button>
                </form>
            </div>
        </dialog>
    </body>
</html>